[package]
name = "yak-man-backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0.99"
redis = "0.23.0"
sqlx = { version = "0.6.3", features = [ "runtime-tokio-rustls", "postgres" ] }
async-trait = {version = "0.1.72"}
uuid = {version = "1.4.1", features = ["v4"]}
chrono = "0.4.26"
thiserror = "1.0.40"
derive_more = "0.99.17"
utoipa = { version = "3.3.0", features = ["actix_extras"] }
utoipa-swagger-ui = { version = "3.1.3", features = ["actix-web"] }
actix-middleware-etag = "0.2.0"
log = "0.4"
env_logger = "0.10.0"
oauth2 = "4.4.1"
dotenv = "0.15.0"
reqwest = { version = "0.11", features = ["json"] }
actix-web-grants = "3.0.1"
jwt = "0.16.0"
hmac = { version = "0.12", features = ["reset"] }
sha2 = "0.10"
aws-config = "0.55.3"
aws-sdk-s3 = "0.28.0"
bytes = "1.4.0"
tokio = "1.29.1"
sha256 = "1.1.4"