[package]
name = "yak-man-backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4"
# rocket = {version = "0.5.0-rc.3", features = ["json"]}
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0.96"
redis = "0.23.0"
sqlx = { version = "0.6.3", features = [ "runtime-tokio-rustls", "postgres" ] }
async-trait = {version = "0.1.68"}
yak-man-core = {path = "../core"}
uuid = {version = "1.3.1", features = ["v4"]}
chrono = "0.4.24"
thiserror = "1.0.40"
derive_more = "0.99.17"